body{
    font-family: 'Poppins', sans-serif;

}
.top-menu{

}
.logo-img{
    width: 60%;
}
.nav-item{
    margin-left: 30px;
    font-size: 14px;
    font-weight: 600;
}

.slider-part{

}
.slider-text{
    padding-left: 30px;
}
.slider-heading{
    font-size: 36px;
    font-weight: 700;
}
.slider-description{
    width: 80%;
    margin: 40px 0;
    text-align: justify;
    color: gray;
}
.carousel-indicators li{
    height: 8px;
    border-radius: 12px;
    background-color: gray;
}


.card-deck-part{
    margin: 80px auto;
}
.card-deck-heading{
    margin-bottom: 30px;
}
.section-heading{
    font-weight: 600;
    margin-bottom: 10px;
}
.see-more{
    text-decoration: none;
    color: gray;
}
.see-more:hover{
    text-decoration: none;
    color: black;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 10px 0 lightgray;
    text-align: center;
}
.card:hover{
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 10px 25px 0 gray;
    text-align: center;
}
.card img{
    width: 70%;
    margin: 20px auto;
    margin-top: 50px;
}
.card-title{
    font-weight: bold;
}
.card-text{
    color: gray;
    font-size: 14px;
}
.card-footer{
    border-top: none;
    background-color: #fff;
}

.category-heading{
    text-align: center;
    font-weight: 800;
    margin: 100px 0;
}
.category-img{
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5 15 0 black;
}
.category-img img{
    width: 170px;
    height: 170px;
}
.category-side-img{
    width: 100%;
}